<!DOCTYPE html>
<html>
  <head>
    <title>Contacts Importer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <nav>
      <%= link_to 'Home', contacts_path %> |
      <%= link_to 'Add Contact Manually', new_contact_path %> |
      <%= link_to 'Import CSV', new_csv_import_path %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete%>

    </nav>
    <%= yield %>
  </body>
</html>
